---
title: Home Studio
description: I've been putting together a recording studio in my apartment and am always looking for people to write and collaborate with.
---

<p>If you're interested, please email me at <a href="mailto:polymonic@gmail.com">polymonic@gmail.com</a>.</p>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/room.png"><%= image_tag "home-studio/room.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/guitars.png"><%= image_tag "home-studio/guitars.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/amps.png"><%= image_tag "home-studio/amps.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/pedals.png"><%= image_tag "home-studio/pedals.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/drums.png"><%= image_tag "home-studio/drums.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/desk.png"><%= image_tag "home-studio/desk.png" %></a>
  </div>
  <div class="col-sm-6 col-md-6">
    <a class="thumbnail" href="/images/home-studio/mics.png"><%= image_tag "home-studio/mics.png" %></a>
  </div>
</div>
