---
title: Music
description: I've been making music since I could bang pots and pans together. I've been recording since my teenage years. If you like what you hear, please consider buying something from <a href="http://music.spilth.org/">my Bandcamp site</a>.
---

<h2>Original Songs</h2>

<p>These are a few songs that I've written and recorded by myself:</p>

<% data.songs.originals.each do |song| %>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=<%= song.id %>/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="<%= song.url %>"><%= song.title %></a></iframe>
<% end %>

<h2>Collaborations</h2>

<p>These are original songs that I've written and recorded with others:</p>

<% data.songs.collaborations.each do |song| %>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=<%= song.id %>/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="<%= song.url %>"><%= song.title %></a></iframe>
<% end %>

<h2>Cover Songs</h2>

<p>Finally, here are come song covers I've recorded:</p>

<% data.songs.covers.each do |song| %>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= song.id %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<% end %>
